img[align="center"], img[align="middle"]{
    display: block;
    margin: 0 auto !important;
}

#menu {
    background-color: #24abe1;
    width: 100%;
}

#menu .logo {
    margin: 20px;
    margin-left: 60px;
}

#menu .button {
    width: 177px;
    height: 31px;
    background-color: #ffffff;
    border-radius: 30px;
    line-height: 30px;
    color: #009ddc;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-bottom: 3px solid #e8e8e8;
    margin-top: 30px;
    text-align: center;
    margin-left: 100px;
}

#menu .button:hover {
    color: #ffd800;
}

#menu .contact {
    margin-top: 15px;
    color: #ffffff;
    margin-left: 100px;
}

#second-block {
    background-color: #009ddc;
    padding: 20px;
}

#second-block h3{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

#second-block p{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
}

#second-block ul {
    list-style: none;
    color: #ffffff;
    font-weight: 300;
}

#second-block .free-block {
    text-align: center;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
}

#second-block .button {
    width: 177px;
    height: 31px;
    background-color: #18c45d;
    border-radius: 30px;
    line-height: 30px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-bottom: 3px solid #129d4a;
    margin-top: 5px;
    text-align: center;
}

#second-block .info {
    width: 130px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    margin-top: 25px;
}

#thirth-block {
    width: 100%;
    background-color: #373f48;
}

#thirth-block h1 {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 100;
}

#thirth-block .clients {
    float: left;
    padding-left: 55px;
    padding-right: 55px;
    opacity: 0.5;
}

#fourth-block {
    align-content: center;
    text-align: center;
}

#fourth-block h1 {
    margin-top: 25px;
    text-align: center;
    font-size: 28px;
    font-weight:700;
    text-transform: uppercase;
}

#fourth-block ul {
    list-style: none;
    padding:0;
    margin:0;
    text-align: left;
}

#fourth-block ul li {
    padding-left: 1em;
    text-indent: -.7em;
}

#fourth-block ul li:before {
    content: "• ";
    color: #208aff;
}

#fourth-block .pc {
    background-image: url(../img/macbookpro.png);
    width: 600px;
    height: 440px;
    margin: 0 auto;
}

#fourth-block .pc .video {
    position: relative;
    top: 65px;
}

#fourth-block .settings {
    margin-bottom: 55px;
}

#fifth-block {
    width: 100%;
    background-color: #373f48;
    color: #ffffff;
}

#fifth-block h1 {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 100;
}

#fifth-block h6 {
    margin-top: 10px;
    font-weight: 500;
}

#fifth-block p {
    font-weight: 100;
    border: 1px solid #ffffff;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    top: -15px;
}

#sixth-block {
    width: 100%;
    background-color: #2e353c;
}

#sixth-block h1 {
    position: relative;
    left: -15px;
    color: #ffffff;
    font-size: 22px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 100;
}

#seventen-block {
    height: 30px;
    width: 100%;
    background-color: #373f48;
    color: #7c8792;
}